.App {
  position: relative;
  min-height: 768px;
  max-width: 1366px;
  background-color: #e5e5e5;
  margin: 0 auto;
}
.content {
  display: flex;
  flex-flow: row;
}

/* ====== Pagination ====== */
.pagination {
  margin-left: 25px;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > .active > a {
  background-color: #0064eb;
  border-radius: 3px;
  color: #fff;
}
.pagination > li {
  margin: 0 3px;
}

.pagination > li > a {
  padding: 2px 6px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #808080;
}
.disabled {
  display: none;
}
.previous {
  background-image: url(../src/images/arrowPrevious.svg);
  background-repeat: no-repeat;
  background-position: 0% 63%;
}

.next {
  background-image: url(../src/images/arrowNext.svg);
  background-repeat: no-repeat;
  background-position: 100% 63%;
}

@media screen and (max-width: 781px) {
  .content {
    flex-flow: column;
  }
}
