.container {
  width: 92%;
  margin: 0 4%;
}
.container h2 {
  font-size: 2em;
  margin: 28px auto;
}
.paginationItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 26px;
}

@media screen and (max-width: 781px) {
  .container h2 {
    text-align: center;
  }
}
@media screen and (max-width: 426px) {
  .paginationItem {
    justify-content: center;
  }
}
